<!doctype html>
<html>
  <body>
    <div class="numbers">
      <%= form_with model: @number, local: true do |f| %>
        <h1>
          <%= f.label :Enter_number %><br>
          <%= f.number_field :number %><br>
          <%= f.submit 'SEND', :class => 'submit' %>
        </h1>
      <% end %>


      <%= link_to 'Back', controller: 'welcome' %>
    </div>
  </body>
</html>